@media(max-width:768px) {
    #navbarNav li a {
        padding: 5px;
        text-align: center;
    }
    .product-photo {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;
    }
    .address,
    .contact_us {
        margin-bottom: 30px;
    }
    .product-photo button {
        margin-bottom: 30px;
    }
}